apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: django-container
        image: videostore:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        command: ["python"]
        args: ["manage.py", "runserver", "0.0.0.0:8000"]
